<!doctype html>
<html>
<head>
    <title>Free Realms</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    <div id="header">
        <ul id="user" class="menu">
            {% if nickname %}
                <li class="user_info">Welcome,
                    <span class="nickname">{{ user.nickname }}!</span></li>
                <li><a href="{{ user_url }}">Logout</a></li>
            {% else %}
                <li class="user_info">You are currently not logged in.</li>
                <li><a href="{{ user_url }}">Login</a></li>
            {% endif %}
        </ul>
        <h1>
            <a href="/">{% block heading %}Free Realms{% endblock %}</a>
            {% block subtitle %}{% endblock subtitle %}
        </h1>
    </div>
    {% block content %}{% endblock %}
    <div id="footer">
        Copyright &copy; 2011&ndash;{% now "Y"%} 
        <a href="mailto:marc@nieper-wisskirchen.de?subject=Free%20Realms">Marc
          Nieper-Wi&szlig;kirchen</a>
    </div>
</body>
</html>

