<!doctype html>
<html>
<head>
    <title>Free Realms</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css">
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
</head>
<body>
    <h1><a href="/">Free Realms</a></h1>
    <div id="user">
      <h2>User</h2>
                <ul class="menu">
                {% if nickname %}
                    <li class="user_info">Welcome,
                        <span class="nickname">{{ nickname }}!</span></li>
                    <li><a href="{{ url }}">Logout</a></li>
                {% else %}
                    <li class="user_info">You are currently not logged in.</li>
                    <li><a href="{{ url }}">Login</a></li>
                {% endif %}
                </ul>
            </div>
        {% block content %}{% endblock %}
        <p id="footer">
            Copyright &copy; 2011&ndash;{% now "Y"%} Marc Nieper-Wi&szlig;kirchen
        </p>
</body>
</html>

