{% extends "base.html" %}

{% block content %}
<div class="article">
<h2>Welcome</h2>

<h3>Welcome to the Free Realms</h3>
<p>
  The Free Realms is a site dedicated to play-by-post role-playing games.
</p>

<h3>Create your own campaign</h3>
<p>
  In the Free Realms you can easily create your own campaign. Just follow the link below.
  (Note that you will need to log in with a
  <a href="https://www.google.com/accounts/">Google Account</a>.)
</p>
<p>
  If you rather want to join one of the existing campaigns or just lurk around,
  view the list of hosted campaigns at the bottom of this page.
</p>
<ul class="menu">
  <li><a href="add.html">Create campaign</a></li>
</ul>
</div>

<div class="note">
    <h2>Information</h2>
    <p>There are currently 1000 games hosted on this site.</p>
</div>

<div class="endnote">
    <h2>Most active campaigns</h2>
    <table>
      <thead>
        <tr>
          <th>Campaign Name</th>
          <th>Game System</th>
        </tr>
      </thead>
      <tbody>
        {% for campaign in campaigns %}
        <tr>
          <td>{{ campaign.key.name }}</td>
          <td>{{ campaign.system }}</td>
        </tr>
        {% endfor %}
        <tr>
          <td colspan="3">
        {% if not campaigns %}
            <p class="info">
                The are currently no campaigns online fitting your search criteria.
            </p>
        {% endif %}
          </td>
        <tr>
      </tbody>
    </table>
    <form action="/">
        <fieldset>
            <legend>Search Criteria</legend>
            <table>
                <tr>
                  <th><label for="keywords">Keywords</label></th>
                  <td><input type="text" name="keywords" value="{{ keywords }}" />
                </tr>
            </table>
        </fieldset>
        <input type="submit" value="Update campaign listing" />
    </form>
</div>

{% endblock content %}

