{% extends "two_column.html" %}

{% block sidebar %}
<dl class="widgetvbox">
    <dt>Information</dt>
    <dd>There are currently 1000 games hosted on this site.</dd>
</dl>
{% endblock %}

{% block main %}
<h2>Welcome to the Free Realms!</h2>

<p>
  The Free Realms is a site dedicated to play-by-post role-playing games.
</p>

<h3>Create your own campaign</h3>
<p>
  In the Free Realms you can easily create your own campaign. Just follow the link below.
  (Note that you will need to log in with a
  <a href="https://www.google.com/accounts/">Google Account</a>.)
</p>
<p>
  If you rather want to join one of the existing campaigns or just lurk around, view the
  list of hosted campaigns at the bottom of this page.
</p>
<ul class="menu">
  <li><a href="add.html">Create campaign</a></li>
</ul>

<dl class="widgetvbox">
    <dt><span class="heading">Most active campaigns</span></dt>
    <dd>
    {% if campaigns %}
    <table>
      <thead>
        <tr>
          <th>Campaign Name</th>
          <th>Game System</th>
        </tr>
        {% for campaign in campaigns %}
        <tr>
          <td>{{ campaign.key.name }}</td>
          <td>{{ campaign.system }}</td>
        </tr>
        {% endfor %}
      </thead>
      <tbody>
      </tbody>
    </table>
    {% else %}
    <p class="info">The are currently no campaigns fitting your search criteria.</p>
    {% endif %}
    <form action="/">
        <fieldset>
            <legend>Search Criteria</legend>
            <table>
                <tr>
                  <th><label for="keywords">Keywords</label></th>
                  <td><input type="text" name="keywords" value="{{ keywords }}" />
                </tr>
            </table>
        </fieldset>
        <input type="submit" value="Update campaign listing" />
    </form>
    </dd>
</dl>
{% endblock main %}

