{% extends "welcome.html" %}

{% block form %}
<div id="campaigns" class="search">
    <h2>Browse Campaigns</h2>

    <table class="results" cellspacing="0">
      <caption>Campaigns that fulfill your search criteria.</caption>
      <thead>
        <tr>
          <th>Campaign Name</th>
          <th>Game System</th>
        </tr>
      </thead>
      <tbody>
        {% for campaign in campaigns %}
        <tr>
          <td>{{ campaign.key.name }}</td>
          <td>{{ campaign.system }}</td>
        </tr>
        {% endfor %}
        {% if not campaigns %}
        <tr>
          <td colspan="3">
            <p class="info">
                The are currently no campaigns online 
                fitting your search criteria.
            </p>
          </td>
        {% endif %}
        </tr>
      </tbody>
    </table>
    

    <form class="criteria" action="/">
        <fieldset>
            <legend>Search Criteria</legend>
            <table>
                <tr>
                  <th><label for="keywords">Keywords</label></th>
                  <td><input type="text" name="keywords" value="{{ keywords }}" />
                </tr>
                <tr>
                  <th><label for="active">Only active games</label></th>
                  <td><input type="checkbox" name="active" value="active"></td>
            </table>
        </fieldset>
        <input type="submit" value="Update campaign listing" />
    </form>
</div>
{% endblock form %}

