{% extends "base.html" %}

{% block content %}
<div class="article">
<h2>Welcome to the Free Realms</h2>
<p>
  The Free Realms is a site dedicated to play-by-post role-playing games.
</p>

<h3>Create your own campaign</h3>
<p>
  In the Free Realms you can easily create your own campaign. Just follow the link below.
  (Note that you will need to log in with a
  <a href="https://www.google.com/accounts/">Google Account</a>.)
</p>
<p>
  If you rather want to join one of the existing campaigns or just lurk around,
  view the list of hosted campaigns at the bottom of this page.
</p>
<ul class="menu">
  <li><a href="add.html#add">Create campaign</a></li>
</ul>
</div>

<div class="note">
    <h2>Information</h2>
    <p>There are currently 1000 games hosted on this site.</p>
</div>

{% block form %}
{% endblock %}

{% endblock content %}

