body {
    margin: 0em auto;
    width: 80em;
    font-size: 75%;
    line-height: 1.5em;
    font-family: "Segoe UI", "Liberation Sans", Arial, sans-serif;
    color: black;
    background-color: white;
}

#header {
    position: relative;
    background-color: aliceblue;
    padding-left: 0.5em;
    border-bottom: solid 1px cornflowerblue;
}

#user {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
}

#content {
    float: left;
    width: 63em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#content h2,
#content h3
{
    margin-left: -0.25em;    
}

#sidebar {
    float: right;
    width: 16em;
    margin-top: 1em;
}

#footer {
    margin-top: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    text-align: center;
    border-top: solid 1px cornflowerblue;
    background-color: aliceblue;
    clear: both;
}

#campaign {
    font-style: italic;
    font-size: smaller;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    color: mediumblue;
    margin: 0;
    padding: 0.25em 0;
    font-size: 2em;
    line-height: 0.75em;
}

h1 > a {
    color: inherit;
    text-decoration: none;
}

label { font-weight: bold; }
label, input { display: block; }

input, textarea {
    font-family: "Segoe UI", "Liberation Sans", Arial, sans-serif;
    font-size: 1em;
}

input[type="submit"] {
}

input[type="text"] {
    //width: 20em;
}

textarea {
    width: 30em;
    height: 10em;
}

table.listing {
    border-collapse: collapse;
    margin: 0.5em;
}

table.listing th {
    text-align: left;
}

table.listing td {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
}

fieldset {
    padding: 0;
    border: none;
}

legend {
    display: none;
}

fieldset > table th {
    text-align: left;
}

caption {
    display: none;
}

ul.menu {
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.menu li {
    display: inline;
}

.menu a {
    color: blue;
}

.note {
    float: right;
    max-width: 9.5em;
    border-left: solid thin black;
    padding-left: 0.5em;
}

.note > h2 {
    margin: 0;
}

.note > p {
    margin-bottom: 0;
}

.endnote {
    border-top: solid thin black;
    padding-top: 0.5em;   
}

.endnote > h2 {
    margin: 0;
}

#sidebar > div {
    background-color: aliceblue;
    padding: 0.5em;
    margin-bottom: 1em;
}

#sidebar > div > h2 {
    margin-top: 0;
    text-align: center;
}

#sidebar > div > * {
    margin-bottom: 0;
}

.panel {
    padding: 0.25em;
}

.clear {
    clear: both;
}

.section {
    margin-bottom: 1em;
}

form {
    background-color: aliceblue;
    padding: 0.25em;
}

p.error {
    margin-top: 0;
    padding: 0.25em;
    background-color: crimson;
    color: white;
    font-weight: bold;   
}

.name {
    font-style: italic;
}
