body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    font-size: 75%;
    background: black url('/images/background.png') 0 0 repeat-x;
    color: white;
}

dl.sidebar {
    background: #5C123C;
    margin-right: 2%;
}

dl.sidebar dt {
    font: 1.33em/1.13em Arial, Tahoma, Verdana, serif;
    margin-top: 1.13em;
    margin-bottom: 1.13em;
    text-align: center;
}

dl.sidebar dd {
    margin: 0;
    
}

#wrapper {
    margin: 0 auto;
    max-width: 80em;
    background: url('/images/sidebar.png') 0 0 repeat-x;
}

#header {
    background: black url('/images/heading.png') 0 0 repeat-y;
}

p {
    font-family: Arial, Tahoma, Verdana, sans-serif;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.info {
    font-style: italic;
}

.error {
    color: red;
}

#user {
    margin-top: 0.5em;
    float: right;
}

#navigation {
    float: left;
    clear: left;
    width: 14%;
}

#main {
    float: left;
    width: 7;
    width: 82%;
}

#sidebar {
    float: right;
    width: 16%;
    height: 100%;
}

h1 {
    font: 1.67em/0.9em Georgia, serif; 
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    margin: 0;
    visibility: hidden;
}

h2 {
    font: 1.5em/1em Arial, Tahoma, Verdana, serif;
    margin-top: 1em;
    margin-bottom: 1em;
}

h3 {
    font: 1.33em/1.13em Arial, Tahoma, Verdana, serif;
    margin-top: 1.13em;
    margin-bottom: 1.13em;
}

input {
    font-size: inherit;
}

h1 > a {
    text-decoration: none;
    color: white;
}

ul.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.menu li {
    display: inline;
}

.menu a {
    color: blue;
}

#footer {
    clear: both;
    text-align: center;
}

