body {
    margin: 0 auto;
    font-family: "Droid Sans", "Liberation Sans", Arial, sans-serif;
    padding: 0;
    font-size: 75%;
    background: white;
    color: black;
    width: 80em;
    line-height: 1.5em;
}

/*
 * Colors
 */

/* header */
h1,
.note h2 {
    background-color: #817865;
    border-color: #494437;
    border-style: solid;
    border-width: 0.1em;
    -moz-border-radius: 0.75em;
    border-radius: 0.75em;
    color: #ffffff;
}

/* content */
#user,
.note {
    background-color: #feeebd;
    border-color: #8e846b;
    border-style: solid;
    border-width: 0.1em;
    -moz-border-radius: 0.75em;
    border-radius: 0.75em;
    color: #383838;
}

/* Position */

/* elements with 2em */
h1
{
    font-size: 2em;
    line-height: 0.75em;
    float: left;
    position: relative;
    margin-left: 10.5em;
    margin-right: 0.5em;
    margin-top: 0;
    margin-bottom: 0.85em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    width: 18.6em;
}

.article,
.note,
.endnote,
.criteria,
.results,
#header,
#footer,
#user
{
    float: left;
    position: relative;
    margin-left: 1em;
    margin-right: 1em;
}

.results {
    margin-left: 0;
}

#user {
    left: 60em;
    clear: both;
}

.criteria {
    margin-right: 0;
}

/*
#user {
    text-align: right;
}
*/

.article,
.results
{
    width: 58em;
}


.note,
.criteria,
#user {
    width: 18em;
}

.note,
#user
{
    width: 17.8em; /* border */
}

#header,
#footer,
.endnote {
    width: 78em;
}

.endnote {
    /*border-top-style: ridge;*/
    padding: 0.5em 0;
    margin-top: 1em;
    margin-bottom: 1em;
}

form {
    background: #ffe;
}

.note h2,
 {
    font-size: 1em;
    margin: 0.2em;
    padding: 0.2em;
    margin-bottom: 0.7em;
    text-align: center;
}

.article h2 {
    font-family: "Droid Serif", "Liberation Serif", "Times New Roman", serif;
    color: #c00;
}

.article h3 {
    font-family: "Droid Serif", "Liberation Serif", "Times New Roman", serif;
    color: #c00;
}

#header {
    margin-bottom: 0.5em;
}

p {
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.nickname {
    font-style: italic;
}

.info {
    font-style: italic;
}

.error {
    color: red;
}


h1 {
    text-align: center;
    //line-height: 0.9em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    /*font: 1.67em/0.9em;
    margin-top: 0.9em;
    margin-bottom: 0.9em;*/
}

h3 {
    font: 1.33em/1.13em;
    margin-top: 1.13em;
    margin-bottom: 1.13em;
    color: #c00;
}

input {
    font-size: inherit;
}

h1 {
}

h1 > a {
    text-decoration: none;
    color: #fff;
}

ul.menu {
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.menu li {
    display: inline;
}

.menu a {
    color: blue;
}

#footer {
    text-align: center;
}

th {
    text-align: left;
    background: #ffc;
}

caption {
}

table {
    border-collapse: collapse;
}

thead {
    border-top: thin solid #f88;
    border-bottom: thin solid #f88;
}

tbody {
    border-bottom: thin solid #f88;
}

caption {
    font-weight: bold;
    font-style: italic;
    line-height: 1.5em;
}

