body {
    margin: 0 auto;
    font-family: "Droid Sans", "Liberation Sans", Arial, sans-serif;
    padding: 0;
    font-size: 75%;
    background: white;
    color: black;
    max-width: 80em;
}

.article,
.note,
.endnote,
#header,
#footer,
#user,
#heading
{
    float: left;
    position: relative;
    margin-left: 0.833em;
    margin-right: 0.833em;
}

#heading {
    margin-left: 0;
}

#user {
    text-align: right;
    margin-right: 0;    
}

.article,
#heading {
    width: 51.667em;
}

.note,
#user {
    width: 25em;
}

#header,
#footer,
.endnote {
    width: 78.333em;
}

h3 {
    font-family: "Droid Serif", "Liberation Serif", "Times New Roman", serif;
}

#header {
    border-bottom: 1px solid #88f;
}

p {
    font-family: Arial, Tahoma, Verdana, sans-serif;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.info {
    font-style: italic;
}

.error {
    color: red;
}

#navigation {
    float: left;
    clear: left;
    width: 14%;
}

#main {
    float: left;
    width: 83%;
    padding-right: 0.5em;
}

#sidebar {
    float: right;
    width: 16%;
    /*border-left: 3px solid #ddf;*/
}

h1 {
    font: 1.5em/1em Georgia, serif; 
    padding-top: 1em;
    margin-bottom: 1em;
    margin-top: 0;
    font-weight: bold;
}

h2 {
    font: 1.67em/0.9em;
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    //border-bottom: 1px solid #ccc;
}

h3 {
    font: 1.33em/1.13em;
    margin-top: 1.13em;
    margin-bottom: 1.13em;
    color: #c00;
}

input {
    font-size: inherit;
}

h1 > a {
    text-decoration: none;
    color: #88f;
}

ul.menu {
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.menu li {
    display: inline;
}

.menu a {
    color: blue;
}

#footer {
    clear: both;
    text-align: center;
}

