body {
    margin: 0 0.5em;
    font-family: Arial, sans-serif;
    padding: 0;
    font-size: 75%;
    background: white;
    color: black;
}

dl.widgetvbox {
}

dl.widgetvbox dt {
    font: 1.33em/1.13em Arial, Tahoma, Verdana, serif;
    margin-top: 1.13em;
    margin-bottom: 1.13em;
    text-align: center;
    border-bottom: 1px solid #ccf;
}

dl.widgetvbox dd {
    margin: 0;
    padding: 0 0.5em;
}

#wrapper {
    margin: 0 auto;
    max-width: 80em;
}

#header {
    border-bottom: 1px solid #88f;
}

p {
    font-family: Arial, Tahoma, Verdana, sans-serif;
    line-height: 1.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.info {
    font-style: italic;
}

.error {
    color: red;
}

#user {
    margin-top: 0.5em;
    float: right;
}

#navigation {
    float: left;
    clear: left;
    width: 14%;
}

#main {
    float: left;
    width: 83%;
    padding-right: 0.5em;
}

#sidebar {
    float: right;
    width: 16%;
    border-left: 3px solid #ddf;
}

h1 {
    font: 1.5em/1em Georgia, serif; 
    padding-top: 1em;
    margin-bottom: 1em;
    margin: 0;
    font-weight: bold;
}

h2 {
    font: 1.67em/0.9em Arial, Tahoma, Verdana, serif;
    margin-top: 0.9em;
    margin-bottom: 0.9em;
    border-bottom: 1px solid #ccc;
    color: #c00;
    font-weight: bold;
    font-style: italic;
}

h3 {
    font: 1.33em/1.13em Arial, Tahoma, Verdana, serif;
    margin-top: 1.13em;
    margin-bottom: 1.13em;
}

input {
    font-size: inherit;
}

h1 > a {
    text-decoration: none;
    color: #88f;
}

ul.menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul.menu li {
    display: inline;
}

.menu a {
    color: blue;
}

#footer {
    clear: both;
    text-align: center;
}

