body {
    margin: 0em auto;
    width: 80em;
    font-size: 75%;
    line-height: 1.5em;
    font-family: "Segoe UI", "Liberation Sans", Arial, sans-serif;
    color: black;
    background-color: white;
}

/*** HEADER ***/

/* HEADING */

#header {
    margin-top: 0.5em;
}

h1 {
    color: #cccccc;
    font-size: 2em;
    line-height: 0.75em;
    margin-top: 0;
    margin-right: 0.5em;
    margin-bottom: 0.75em;
    margin-left: 0.5em;
}

h1 > a {
    color: inherit;
    text-decoration: none;
}

#campaign {
    font-size: 0.75em;
}

/* USER AREA */

#user {
    float: right;
    margin-right: 0.5em;
}

/* ARTICLE */

.article {
    width: 58em;
    margin-left: 1em;
    margin-right: 1em;
}

.article h2 {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1em;
    margin: 1em 0;
}

.article h3 {
    font-weight: bold;
    font-size: 1.25em;
    line-height: 1.2em;
    margin: 1.2em 0;
}

.article p {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 1.5em;
}

/* FORM */
.form {
    width: 58em;
    margin-left: 11em;
    margin-right: 11em;
}

.form h2 {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1em;
    margin: 1em 0;
}

.form p {
    font-size: 1em;
    line-height: 1.5em;
    margin: 0;
    margin-bottom: 1.5em;
}

/* SIDEBAR */

.sidebar {
    float: right;
    width: 18em;
}

.sidebar div {
    background-color: #feeebd;
    color: #383838;
    border-color: #8e846b;
    border-style: solid;
    border-width: 0.1em;
    border-radius: 1em;
    margin-bottom: 1.5em 0;
}

.sidebar div h2 {
    font-weight: bold;
    font-size: 1em;
    padding: 0.3em; 
    margin: 0.2em;
    margin-bottom: 1.5em;
    text-align: center;
    background-color: #817865;
    color: #ffffff;
    border-color: #494437;
    border-style: solid;
    border-width: 0.1em;
    border-radius: 1em;
}

.sidebar div * {
    margin: 0 0.5em 1.5em 0.5em;
}

.sidebar div *:last-child {
    margin-bottom: 0.5em;
}

/* SEARCH BOXES */
.search {
    float: left;
    clear: both;
    margin-left: 1em;
    margin-right: 1em;
}

.search > h2 {
    text-align: left;
    font-size: 1.25em;
    line-height: 1.2em;
    margin-bottom: 1.2em;    
}

.search > table {
    float: left;
    margin-right: 1em;
    width: 48em;
}

.search > form {
    float: right;
    margin-left: 1em;
    width: 28em;
}

/* FOOTER */

#footer {
    text-align: center;
    clear: both;
}

/* TABLES */
caption {
    caption-side: bottom;
    font-style: italic;
    font-size: 1em;
    line-height: 1.5em;
    text-align: center;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    border-style: hidden;
    /* TODO */
    border-bottom-style: none;
    border-bottom-color: #8e846b;
    border-bottom-width: 0.1em;
    margin-bottom: 1.5em;
}

th {
    background-color: #817865;
    color: #ffffff;
    font-weight: bold;
    text-align: left;
    padding: 0.3em;
    border-width: 0;
    border-style: solid;
    border-bottom-width: 0.1em;
    border-bottom-color: #ffffff;
}

td {
    line-height: 1.5em;
    padding-left: 0.3em;
    padding-right: 0.3em;
    background-color: #feeebd;
    color: #343434;
    border-width: 0;
    border-style: solid;
    border-bottom-width: 0.1em;
    border-bottom-color: white;
}

/* FORMS */

/* fieldset */

form {
    margin-bottom: 1.5em; 
}

form > * {
    //margin: 0.5em;
}

fieldset {
    color: #383838;
    background-color: #feeebd;
    border-width: 0;
    border-style: solid;
    border-color: #383838;
    margin: 0;
    margin-bottom: 1.5em;
    padding: 0.5em;
    padding-top: 0.5em;
    position: relative;
}

legend {
    background: #ffffff;
    color: #000000;
    border-color: #000000;
    border-width: 0.1em;
    border-style: inset;
    padding: 0.2em;
    font-style: italic;
}

/* tables in forms */

form table {
    margin: 0;
    text-align: left;
    width: 100%;
}

form th {
    white-space: nowrap;
    color: inherit;
    background-color: inherit;
    padding: 0;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
    border-style: none;
    width: 1em;
}

form td {
    padding: 0;
    padding-right: 0.6em;
    padding-bottom: 0.8em;
    padding-top: 0.3em;
    border-style: none;
}

/* form controls */
textarea {
    overflow: auto;
    font-family: "Liberation Mono", "Courier New", monospace;
    font-size: 1em;
    border-width: 0.2em;
    border-style: inset;
    margin-left: 0em;
    margin-right: -12em;
    padding: 0.1em;
    width: 100%;
    height: 15em;
}

input {
    font-family: "Segoe UI", "Liberation Sans", Arial, sans-serif;
    font-size: 1em;
    margin: 0;
}

/* TODO style input[type="text"] */
input[type="text"] {
    border-width: 0.2em;
    border-style: inset;
    width: 100%;
    padding-left: 0.1em;
}

input[type="submit"] {
    display: block;
    float: left;
    font-size: 1em;
    font-weight: bold;
    color: #4c3000;
    background-color: #fece2f;
    padding: 0.3em 0.5em;
    border-color: #d19405;
    border-style: solid;
    border-width: 0.1em;
    border-radius: 8px;    
    cursor: pointer;
    margin-bottom: 1.5em;
}

input:hover[type="submit"] {
    color: #381f00;
    background-color: #ffdd57;
    border-color: #a45b13;
}

input:active[type="submit"] {
    color: #0074c7;
    background-color: #ffffff;
    border-color: #655e4e;
}

/* BUTTONSET */
ul.buttonset {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 1.5em;
}

ul.button-set li {
    display: inline;
}

ul.buttonset li > a {
    font-weight: bold;
    color: #4c3000;
    background-color: #fece2f;
    padding: 0.3em 0.5em;
    border-color: #d19405;
    border-style: solid;
    border-width: 0.1em;
    border-radius: 8px;
}

ul.buttonset li > a:hover {
    color: #381f00;
    background-color: #ffdd57;
    border-color: #a45b13;
}

.buttonset a {
    text-decoration: inherit;
    color: inherit;
}

/* HORIZONTAL MENUS */
ul.menu {
    display: inline;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 1.5em;
}

ul.menu li {
    display: inline;
}

.menu a {
    color: blue;
}

/* LINKS AS BUTTONS */
a.button:visited {
    color: blue;
}

/* TEXT STYLING */
.nickname {
    font-style: italic;
}



/* SPECIAL */


