{% extends "base.html" %}

{% block content %}

<div class="section">
    <h2>Create a new campaign</h2>
    <p>
        Fill in the fields below and press the submit button.
        (If you want to abort, simply use your browser's back button.)
    </p>

    <form method="post">
      {% if error_msg %}
      <p class="error">
        {{ error_msg }}
      </p>
      {% endif %}
      <fieldset>
        <legend>Campaign Details</legend>
        <label for="name">Campaign name</label>
        <input type="text" name="name" value="{{ form.name }}"/>
        <label for="system">Game system</label>
        <input type="text" name="system" value="{{ form.system }}"/>
        <label for="description">Detailed description</label>
        <textarea name="description">{{ form.description }}</textarea>
      </fieldset>
      <input type="submit" value="Create" />
    </form>
</div>
{% endblock content %}
