<!doctype html>
<html>
<head>
    <title>Free Realms</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/base.css">
    {% block stylesheet %}{% endblock %}
</head>
<body>
    <div id="header">
        <h1>
            <a href="/">{% block heading %}Free Realms{% endblock %}</a>
            {% if campaign %}
                &mdash; <span id="campaign">{{ campaign.name }}</span>
            {% endif %}
        </h1>
        <ul id="user" class="menu">
            {% if user.nickname %}
                <li class="user_info">Welcome,
                    <span class="nickname">{{ user.nickname }}!</span></li>
                <li><a href="{{ user.url }}">Logout</a></li>
            {% else %}
                <li class="user_info">You are currently not logged in.</li>
                <li><a href="{{ user.url }}">Login</a></li>
            {% endif %}
        </ul>
        {% if campaign.is_gamemaster %}
        <ul id="gamemaster" class="menu">
            <li><a href="characters">Characters</a></li>
            <li><a href="players">Players</a></li>
            <li><a href="applications" {% if campaign.new_applications %}class="alert"{% endif %}>Applications</a></li>
        </ul>
        {% endif %}
    </div>
    {% block main %}
    {% endblock main %}
    <div id="footer">
        The Free Realms is
        &copy; 2011&ndash;{% now "Y"%} 
        <a href="mailto:marc@nieper-wisskirchen.de?subject=Free%20Realms">Marc
          Nieper-Wi&szlig;kirchen</a> and contributors.
    </div>
</body>
</html>

